apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
{% for db in vars.database_oracle_dbs %}
  - {{ db | lower }}-tns-admin.yaml
{% endfor %}
generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
{% for db in vars.database_oracle_dbs %}
  - name: {{ db | lower }}-db-secrets
    type: "Opaque"
    literals:
      - db.name="{{ db }}"
      - db.username="{{ vars[db]['username'] }}"
      - db.password="{{ vars[db]['password'] }}"
      - db.service="{{ vars[db]['service'] }}"
      - secret="{{ ('{"password":"' + vars[db]['password'] + '", "username":"' + vars[db]['username'] + '"}') }}"
{% endfor %}
